.banner{
    background-color: rgb(173, 69, 0);
    height: 200px;
    text-align: center;
    
}
.banner h1{
    padding-top: 70px;
}
.paragraph a{
    text-decoration: none;
    color: green;
    width: 40 px;
    
    
}
.paragraph{
    text-align: center;
    background-color: rgb(255, 164, 103);
}
.paragraph h2{
    text-align: left;
}
.paragraph p{
    text-align: left
    
}
.paragraph .p1{
    color:rgb(173, 69, 0); ;
}
.paragraph .p2{
    color:rgb(173, 69, 0); ;
}

