.header p{
    display: inline;
    font-size: 20px;
    font-family: cursive;
    color: white;
    font-weight:bolder;
    
}
.header a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    
    background-color:rgb(51, 50, 50);
    word-spacing: 7px;
    
}

.main h1{
    color: rgb(95, 93, 93);
    padding-left: 40px;
    padding-top: 30px;
    font-family:sans-serif;
    font-weight: lighter;
    
    
    
}
.main form{
    background-color: white;
    text-align: justify;
    padding-left: 30px;
    width:  300px;
    height: 600px;
    margin-left: 800px;
    
    
    
}
.main form input{
    margin-left: 40px;
    border:none;
    border-bottom: 3px solid rgb(163, 160, 160);
    margin-top: 30px;
    
}
.main button{
    margin-left: 40px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(rgb(255, 81, 0), rgba(255, 123, 0, 0.699));
    
}
.main p{
    display: inline;
    margin-left: 40px;
}
.main a{
    text-decoration: none;
    color: royalblue;
}
.img img{
    width: 400px;
    
}




